"*":
  "autocomplete-java":
    javaHome: "/usr/lib/jvm/java-8-oracle/"
  core:
    autoHideMenuBar: true
    themes: [
      "seti-ui"
      "gl-dark-syntax"
    ]
  editor:
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "0dbe14e2-c8e4-afb6-7b78-0de7453a9ebf"
  linter:
    alwaysTakeMinimumSpace: false
    errorPanelHeight: 100
    lintOnFlyInterval: 1000
    showErrorTabFile: false
    showErrorTabProject: false
    statusIconScope: "File"
  "linter-pep8":
    maxLineLength: 80
    pep8ExecutablePath: "/home/biswajit/anaconda/bin/pep8"
  minimap: {}
  "seti-ui":
    compactView: true
    font: "Default Atom Font"
  welcome:
    showOnStartup: false
